* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.appContainer {
  border: 1px solid #fd841f;
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 100vh;
}

.title {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fd841f;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

input {
  padding: 5px;
  border: 1px solid #fd841f;
}

.addTaskBtn {
  margin-left: 10px;
  background-color: #fd841f;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.status {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.status button {
  padding: 5px;
  margin-right: 5px;
  text-transform: capitalize;
}

.allBtn {
  background-color: white;
  color: #fd841f;
  border: 1px solid #fd841f;
}

.activeBtn {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.completedBtn {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.noItemsText {
  text-align: center;
  margin-top: 15px;
  color: #fd841f;
  font-size: 21px;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin: 5px;
}

.todoName {
  margin-left: 10px;
  color: #fd841f;
}

.deleteBtn {
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px;
}

.doneBtn {
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}
